<h3>Zählerstände</h3>

<% if notice %>
    <div id="notice" class="alert alert-success" role="alert"><%= notice %></div>
<% end %>

<hr/>

<%= form_for @invoice, html: {class: 'form-inline'} do |i| %>
    <% @invoice.flats.each.with_index do |flat, fi| %>
        <%= i.fields_for :flats, flat do |f| %>

            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title"><%= flat.name %></h3>
              </div>

              <div class="panel-body">
                <% flat.meters.each.with_index do |meter, mi| %>
                    <%= f.fields_for :meters, meter do |m| %>
                        <div class="count-form">
                          <label><%= meter.name %> (<%= meter.expense_type.humanize %>)</label>
                          <% meter.find_or_initialize_counts(@invoice.id).each.with_index do |count, ci| %>
                              <%= m.fields_for :counts, count do |c| %>
                                  <%= react_component('CountInput', {invoiceId: @invoice.id, flatIndex: fi, meterIndex: mi, countIndex: ci, count: c.object, defaultDate: Date.new(@invoice.year, 12, 31)}) %>
                              <% end %>
                          <% end %>
                          <%= react_component('AddCount', {invoiceId: @invoice.id, flatIndex: fi, meterIndex: mi, countIndex: meter.counts.length, defaultDate: Date.new(@invoice.year, 12, 31)}) %>
                        </div>
                        <hr/>
                    <% end %>
                <% end %>
              </div>
            </div>
        <% end %>
    <% end %>

    <%= i.submit 'Speichern', class: 'btn btn-primary' %>
<% end %>
