<h3>Betriebskosten</h3>
<% if notice %>
  <div id="notice" class="alert alert-success" role="alert"><%= notice %></div>
<% end %>

<hr/>
<%= form_for @invoice, url: invoice_path do |f| %>

    <div class="form-group">
      <%= f.label :erdgas, 'Erdgaskosten', class: 'col-sm-2 control-label' %>
      <div class="input-group col-sm-4">
        <%= f.text_field :erdgas, class: 'form-control' %>
        <span class="input-group-addon">€</span>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :kamin, 'Kaminfeger', class: 'col-sm-2 control-label' %>
      <div class="input-group col-sm-4">
        <%= f.text_field :kamin, class: 'form-control' %>
        <span class="input-group-addon">€</span>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :wartung, 'Wartungskosten', class: 'col-sm-2 control-label' %>
      <div class="input-group col-sm-4">
        <%= f.text_field :wartung, class: 'form-control' %>
        <span class="input-group-addon">€</span>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :reinigung, 'Reinigungskosten', class: 'col-sm-2 control-label' %>
      <div class="input-group col-sm-4">
        <%= f.text_field :reinigung, class: 'form-control' %>
        <span class="input-group-addon">€</span>
      </div>
    </div>

    <hr/>

    <div class="form-group strompreis">
      <%= f.label :strompreis, 'Strompreis', class: 'col-sm-2 control-label' %>
      <div class="input-group col-sm-2">
        <%= f.text_field :strompreis, class: 'form-control', placeholder: 'Gesamtpreis' %>
        <span class="input-group-addon">€</span>
      </div>
      <div class="input-group col-sm-2">
        <%= f.text_field :stromverbrauch, class: 'form-control', placeholder: 'Gesamtverbrauch' %>
        <span class="input-group-addon">€</span>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :gesamt_strom, 'Strompreis (brutto)', class: 'col-sm-2 control-label' %>
      <div class="input-group col-sm-2">
        <%= f.text_field :gesamt_strom, class: 'form-control', readonly: true %> <!-- Gesamtpreis / Gesamtverbrauch -->
        <span class="input-group-addon">€</span>
      </div>

      <hr/>

      <div class="form-group">
        <%= f.label :wasser, 'Wasser', class: 'col-sm-2 control-label' %>
        <div class="input-group col-sm-4">
          <%= f.text_field :wasser, class: 'form-control' %>
          <span class="input-group-addon">€</span>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :abwasser, 'Abwasser', class: 'col-sm-2 control-label' %>
        <div class="input-group col-sm-4">
          <%= f.text_field :abwasser, class: 'form-control' %>
          <span class="input-group-addon">€</span>
        </div>
      </div>

      <hr/>

      <div class="form-group">
        <%= f.label :niederschlag, 'Niederschlagswasser', class: 'col-sm-2 control-label' %>
        <div class="input-group col-sm-4">
          <%= f.text_field :niederschlag, class: 'form-control' %>
          <span class="input-group-addon">€</span>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :abfall, 'Abfallgebühren', class: 'col-sm-2 control-label' %>
        <div class="input-group col-sm-4">
          <%= f.text_field :abfall, class: 'form-control' %>
          <span class="input-group-addon">€</span>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :grundsteuer, 'Grundsteuer Garten', class: 'col-sm-2 control-label' %>
        <div class="input-group col-sm-4">
          <%= f.text_field :grundsteuer, class: 'form-control' %>
          <span class="input-group-addon">€</span>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :versicherung, 'Versicherung', class: 'col-sm-2 control-label' %>
        <div class="input-group col-sm-4">
          <%= f.text_field :versicherung, class: 'form-control' %>
          <span class="input-group-addon">€</span>
        </div>
      </div>

      <%= f.submit 'Speichern', class: 'btn btn-primary' %>
    </div>
<% end %>