<h3>Betriebskosten</h3>

<% if notice %>
    <div id="notice" class="alert alert-success" role="alert"><%= notice %></div>
<% end %>

<hr/>

<%= form_for @invoice do |f| %>

    <%= react_component('InputField', {label: 'Erdgaskosten', model: 'invoice', attr: 'erdgas', value: @invoice.erdgas, unit: '€'}) %>
    <%= react_component('InputField', {label: 'Kaminfeger', model: 'invoice', attr: 'kamin', value: @invoice.kamin, unit: '€'}) %>
    <%= react_component('InputField', {label: 'Wartungskosten', model: 'invoice', attr: 'wartung', value: @invoice.wartung, unit: '€'}) %>
    <%= react_component('InputField', {label: 'Reinigungskosten', model: 'invoice', attr: 'renigung', value: @invoice.reinigung, unit: '€'}) %>

    <hr/>

    <div class="form-group strompreis">
      <%= f.label :strompreis, 'Strompreis', class: 'col-sm-2 control-label' %>
      <div class="input-group col-sm-2">
        <%= f.text_field :strompreis, class: 'form-control', placeholder: 'Gesamtpreis' %>
        <span class="input-group-addon">€</span>
      </div>
      <div class="input-group col-sm-2">
        <%= f.text_field :stromverbrauch, class: 'form-control', placeholder: 'Gesamtverbrauch' %>
        <span class="input-group-addon">€</span>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :gesamt_strom, 'Strompreis (brutto)', class: 'col-sm-2 control-label' %>
      <div class="input-group col-sm-2">
        <%= f.text_field :gesamt_strom, class: 'form-control', readonly: true %> <!-- Gesamtpreis / Gesamtverbrauch -->
        <span class="input-group-addon">€</span>
      </div>
    </div>

    <hr/>

    <%= react_component('InputField', {label: 'Wasser', model: 'invoice', attr: 'wasser', value: @invoice.wasser, unit: '€'}) %>
    <%= react_component('InputField', {label: 'Abwasser', model: 'invoice', attr: 'abwasser', value: @invoice.abwasser, unit: '€'}) %>

    <hr/>

    <%= react_component('InputField', {label: 'Niederschlagswasser', model: 'invoice', attr: 'niederschlag', value: @invoice.niederschlag, unit: '€'}) %>
    <%= react_component('InputField', {label: 'Abfallgebühren', model: 'invoice', attr: 'abfall', value: @invoice.abfall, unit: '€'}) %>
    <%= react_component('InputField', {label: 'Grundsteuer Garten', model: 'invoice', attr: 'grundsteuer', value: @invoice.grundsteuer, unit: '€'}) %>
    <%= react_component('InputField', {label: 'Versicherung', model: 'invoice', attr: 'versicherung', value: @invoice.versicherung, unit: '€'}) %>

    <%= f.submit 'Speichern', class: 'btn btn-primary' %>

<% end %>