<h3>Betriebskosten</h3>

<% if notice %>
    <div id="notice" class="alert alert-success" role="alert"><%= notice %></div>
<% end %>

<hr/>

<%= form_for @invoice, html: {class: 'form-horizontal'} do |f| %>

    <%= react_component('InputField', {label: 'Erdgaskosten', model: 'invoice', attr: 'erdgas', value: @invoice.erdgas, unit: '€'}) %>
    <%= react_component('InputField', {label: 'Kaminfeger', model: 'invoice', attr: 'kamin', value: @invoice.kamin, unit: '€'}) %>
    <%= react_component('InputField', {label: 'Wartungskosten', model: 'invoice', attr: 'wartung', value: @invoice.wartung, unit: '€'}) %>
    <%= react_component('InputField', {label: 'Reinigungskosten', model: 'invoice', attr: 'renigung', value: @invoice.reinigung, unit: '€'}) %>
    <%= react_component('InputField', label: 'Stromkosten', model: 'invoice', attr: 'gesamt_strom', value: @invoice.gesamt_strom, unit: '€') %>

    <hr/>

    <%= react_component('InputField', {label: 'Wasser', model: 'invoice', attr: 'wasser', value: @invoice.wasser, unit: '€'}) %>
    <%= react_component('InputField', {label: 'Abwasser', model: 'invoice', attr: 'abwasser', value: @invoice.abwasser, unit: '€'}) %>

    <hr/>

    <%= react_component('InputField', {label: 'Niederschlagswasser', model: 'invoice', attr: 'niederschlag', value: @invoice.niederschlag, unit: '€'}) %>
    <%= react_component('InputField', {label: 'Abfallgebühren', model: 'invoice', attr: 'abfall', value: @invoice.abfall, unit: '€'}) %>
    <%= react_component('InputField', {label: 'Grundsteuer Garten', model: 'invoice', attr: 'grundsteuer', value: @invoice.grundsteuer, unit: '€'}) %>
    <%= react_component('InputField', {label: 'Versicherung', model: 'invoice', attr: 'versicherung', value: @invoice.versicherung, unit: '€'}) %>

    <%= f.submit 'Speichern', class: 'btn btn-primary' %>

<% end %>