<h3>Abrechnungen</h3>

<% if @invoice && @invoice.errors.any? %>
    <div id="notice" class="alert alert-danger" role="alert">
      <h4>Die Abrechnung kann nicht abgerechnet werden:</h4>

      <ul>
        <% @invoice.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>
<% end %>


<% if notice %>
    <div id="notice" class="alert alert-success" role="alert"><%= notice %></div>
<% end %>

<% if alert %>
    <div id="alert" class="alert alert-danger" role="alert"><%= alert %></div>
<% end %>

<hr/>

<%= react_component('Invoices', {items: @invoices, user_id: current_user.id, invoice_id: current_user.current_invoice_id, url: invoices_url }) %>

<%= form_for Invoice.new, html: { class: 'form-inline col-sm-6' } do |f| %>
    <div class="form-group">
      <%= f.label :year, 'Jahr' %>
      <%= f.select :year, (2000...(Date.today.year + 2)).to_a.reverse, {}, class: 'form-control' %>
    </div>

    <%= f.submit 'Erstellen', class: 'btn btn-primary' %>
<% end %>


