<% if notice %>
    <div id="notice" class="alert alert-success" role="alert"><%= notice %></div>
<% end %>

<h3>Abrechnung <%= @invoice.year %></h3>

<hr />

<% @invoice.invoice_details.each do |detail| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= detail.resident.name %></h3>
      </div>

      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">
            <span class="badge"><%= detail.kaltwasser %> €</span>
            Kaltwasser
          </li>
          <li class="list-group-item">
            <span class="badge"><%= detail.warmwasser %> €</span>
            Warmwasser
          </li>
          <li class="list-group-item">
            <span class="badge"><%= detail.heizung %> €</span>
            Heizung
          </li>
          <li class="list-group-item">
            <span class="badge"><%= detail.strom %> €</span>
            Strom
          </li>
          <li class="list-group-item">
            <span class="badge"><%= detail.abfall %> €</span>
            Abfall
          </li>
          <li class="list-group-item">
            <span class="badge"><%= detail.versicherung %> €</span>
            Versicherung
          </li>
          <li class="list-group-item">
            <span class="badge"><%= detail.steuer %> €</span>
            Grundsteuer
          </li>
          <li class="list-group-item">
            <span class="badge"><%= detail.niederschlag %> €</span>
            Niederschlag
          </li>
        </ul>
      </div>
    </div>
<% end %>

<%= link_to 'Zurück', invoices_path %>
<%#= link_to 'Bearbeiten', edit_flat_path(@flat) %> |
