<%= form_with(model: meter, local: true, class: 'col-md-4') do |form| %>
  <% if meter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(meter.errors.count, "error") %> prohibited this meter from being saved:</h2>

      <ul>
      <% meter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, 'Name' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

    <div class="form-group">
      <%= form.label :flat_id, 'Wohnung' %>
      <%= form.collection_select :flat_id, Flat.by_user(current_user.id), :id, :name, {include_blank: true}, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :expense_type, 'Kostentyp' %>
      <%= form.select :expenses_type, Meter.expense_types.keys.map { |t| [t.humanize, t]}, {include_blank: true}, class: 'form-control' %>
    </div>

  <%= form.submit 'Speichern', class: 'btn btn-primary' %>
<% end %>
