<p id="notice"><%= notice %></p>

<h3>Zähler</h3>

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Wohnung</th>
        <th>Kostentyp</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @meters.each do |meter| %>
        <tr>
          <td><%= meter.name %></td>
          <td><%= meter.flat_id %></td>
          <td><%= meter.expense_type %></td>
          <td><%= link_to 'Anzeigen', meter %></td>
          <td><%= link_to 'Bearbeiten', edit_meter_path(meter) %></td>
          <td><%= link_to 'Löschen', meter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'Neuer Zähler', new_meter_path %>
