<%= form_with(model: resident, local: true, class: 'col-md-4') do |form| %>
    <% if resident.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(resident.errors.count, "error") %> prohibited this resident from being saved:</h2>

          <ul>
            <% resident.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :move_in, 'Einzugsdatum' %>
      <%= form.date_field :move_in, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= form.label :move_out, 'Auszugsdatum' %>
      <%= form.date_field :move_out, class: 'form-control', placeholder: 'Optional' %>
    </div>
    <div class="form-group">
      <%= form.label :flat_id, 'Wohnung' %>
      <%= form.collection_select :flat_id, Flat.by_user(current_user.id), :id, :name, {include_blank: true}, class: 'form-control'  %>
    </div>

    <%= form.submit 'Speichern', class: 'btn btn-primary' %>
<% end %>
