<h3>Bewohner</h3>

<p id="notice"><%= notice %></p>

<hr />

<div class="table-responsive">
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Einzug</th>
        <th>Auszug</th>
        <th>Wohnung</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @residents.each do |resident| %>
        <tr>
          <td><%= resident.name %></td>
          <td><%= resident.move_in %></td>
          <td><%= resident.move_out %></td>
          <td><%= resident.flat_id %></td>
          <td><%= link_to 'Anzeigen', resident %></td>
          <td><%= link_to 'Bearbeiten', edit_resident_path(resident) %></td>
          <td><%= link_to 'Löschen', resident, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<%= link_to 'Neuen Bewohner erstellen', new_resident_path %>
